In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os
import pandas as pd
import numpy as np
from google import genai

In [17]:
#load_dotenv()

google_key = ""

In [18]:
location = "/content/drive/MyDrive/nyscAnalysis" + "/data"
files = os.listdir(location)

In [19]:
df = pd.DataFrame()
for file in files:
    data = pd.read_csv("/content/drive/MyDrive/nyscAnalysis/data/" + file)
    df = pd.concat([df, data], axis=0)

/tmp/ipython-input-19-3336264820.py:4: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, data], axis=0)
/tmp/ipython-input-19-3336264820.py:4: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, data], axis=0)
/tmp/ipython-input-19-3336264820.py:4: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, data], axis=0)

In [20]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 5917 entries, 0 to 895
Data columns (total 35 columns):
 #   Column                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 --------------  -----
 0   {"tweet_count": 223                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    0 non-null      object
 1    "cursor": "DAACCgACGxBCuf-AJxAKAAMbEEK5_34rQAgABAAAAAILAAUAAAO8QUFBQUFDNk5zd2dBQUFEZkFBQUFBQUFBRlh3QUFBQUhBQUFBVnNDSVFBQlZpQUVDUW9oQWNRZ3lLRWlGWVdBaUVBRG9MUWdBQUFDaUJCa0FDc0tFS0VEQXhiSm9oaVFnRUFSQWtJQW9PQW9aQUJoY0pBWUJvUkVVcEFnS2hqRWdCSVJzQkNCSXdFTEFpOUVBQmdJQUJBUklBUUJFV1NRQklSRUNDb0pJQUV4QUg0b2dFR2pBQkFxQUVUQ1JBVFFGUUF3NVZCd0lFRUlBS1FsQXdFQUFJbElBQUFLQkVpZ0FJQktNUXdBeFVLQUNrWWNJa2tDTElNaUNxRENTQVFCUW93UUlsWVFER0dBQ0FJZ0ZBZ2dLQXl3aEFBUnFnMUNzTEFJSWdVQXdLR0JRcHdaRUxDZ2dDRVNCU0lJWkNFUVFRc0VpQkRNMEZLSUJXQUlJc0JDQUdBZ0daQUFPRkNnUWhKUUFITWtFaERnb0FKa0JnQ094R09CRUJBTVFBbDhBRUNRWmdSc0tRS0VBeEJDaWlCaURBaUVCQUNVQm9pMEpoWEFBUmtDSWpBQUFBRFdRZ0NrRkdvN0I0QWdsRkVFQURRZ0U0eHJBQWJzQUtBWWl4bFFPb2hBSUFBUVp3SUVCSUtvaHdEQUlDR0lFZU1nQm5JUUdqQVJCa0NBSUlCQUlCaG9uSmdTNEZRQUVvQ0FFMFlBZ0tNS2duZ0FCVm1JQVRBQkJzZ0JRRUlRa0FFUUJHTWdaRmhBQkNFQklCZ0JRUlpSVUR3Q1FCQkFoQUNnQWdBUUVrUXdJd2l5MGdVQVNNQjJtZ0FZRUxpQmdLRHVscUl3b0NZQXpJR0FQQkFRekJJRkRnUElRSWdCaEFCS1o0b3dlTEJBaEFBQmd3SWdJTWdBTWdFQkpLQkpJRU5BUTR5NURDQVFvbFZBU0RBb0FRRUFBRkNCRUNJRUNBQUFCRWI0QVlJQ0lrUkJSQUFSbUJHb2dJSTBrRUJBQWxJRkJESEZNQmdxQmtRQ0NJU0FRS2tDQVNrQkVSREJBTWdBUmdrU0VnUWFMZ0NFblVLQUFBaUpEU2JnVkFBR3BRQWJNUUxBUVFCNENXSUFZS0pBSWN4Qk04QUNNQkFVQ1FBQUFGY0dZb1NLQ0NDd0xGa2NTRFVCTWxVREFpNEFFUUJGQklCRkx3TUJnbEdpVkJEQVlBVURWYkFvWVpCTUFCQUFnQlVoSVFnZ0FvRXhDcVpBQllaQUNDRUFSQUVLSkFBQVlDU1lWSUFDRmdtWT0IAAYAAAAACAAHAAAACwwACAoAARsLunplFoCwAAAA"  0 non-null      object
 2    "query": "nysc kidnap"                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                0 non-null      object
 3    "timestamp": "2025-07-29T18:38:03.161879"}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            0 non-null      object
 4   Tweet_count                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            5917 non-null   float64
 5   Username                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               5917 non-null   object
 6   Profile URL                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            2009 non-null   object
 7   Display Name                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           5917 non-null   object
 8   User Location                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          4704 non-null   object
 9   Date Created                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           5917 non-null   object
 10  Followers                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              5917 non-null   float64
 11  Following                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              5917 non-null   float64

In [21]:
dd_df = df[df['Text'].duplicated() == False]

In [22]:
dd_df.shape, df.shape

((5640, 35), (5917, 35))

In [23]:
dd_df = dd_df.reset_index(drop=True)

In [24]:
import time
from google.api_core.exceptions import ClientError

def get_sentiment(text_content):
    contents_instruction = "I need you to help extract sentiments from this tweet. Classify it into Positive, negative or neutral. Just return the sentiment as the text alone."
    # Use a loop with retry logic for API calls
    max_retries = 5
    for attempt in range(max_retries):
        try:
            response = client.models.generate_content(
                model="gemini-2.5-flash",
                contents=[contents_instruction, text_content]
            )
            return response.text.strip()
        except ClientError as e:
            # Check if it's a quota error (429)
            if e.status_code == 429:
                print(f"Quota exceeded (429) for text: '{text_content}'. Retrying in {2**(attempt+1)} seconds... (Attempt {attempt + 1}/{max_retries})")
                time.sleep(2**(attempt+1)) # Exponential backoff: 2, 4, 8, 16, 32 seconds
            else:
                # Re-raise other ClientErrors immediately
                print(f"An unexpected ClientError occurred: {e}. Returning 'Error'.")
                return "Error"
        except Exception as e:
            # Catch any other unexpected errors
            print(f"An unexpected error occurred for text: '{text_content}' - {e}. Returning 'Error'.")
            return "Error"
    print(f"Failed to get sentiment after {max_retries} attempts for text: '{text_content}'.")
    return "Failed" # Return 'Failed' if all retries are exhausted

In [ ]:
sentiments = []
for i in range(0, dd_df.shape[0]):
    sentiment = get_sentiment(dd_df['Text'][i])
    sentiments.append(sentiment)

    # Wait every 8 texts to avoid hitting quota
    if (i + 1) % 8 == 0:
        print(f"Processed {i + 1} texts, sleeping for 30 seconds to avoid quota issues.")
        time.sleep(30)  # Adjust sleep time based on quota limits
    if (i + 1) % 8 == 0:
        dd_df.loc[:i, 'Sentiment'] = sentiments
        dd_df.to_csv('/content/drive/MyDrive/nyscAnalysis/sentiment_partial.csv', index=False)

Processed 8 texts, sleeping for 30 seconds to avoid quota issues.
An unexpected error occurred for text: 'Nysc should not be scraped tbh
Might be underpaid but it's a good transition for a graduate
If you have privileged enough get a good PPA and stag at your parent house, you will be able to save well.
Tell me which Job will I get immediately after Uni that will pay me 160k???' - 429 RESOURCE_EXHAUSTED. {'error': {'code': 429, 'message': 'You exceeded your current quota, please check your plan and billing details. For more information on this error, head to: https://ai.google.dev/gemini-api/docs/rate-limits.', 'status': 'RESOURCE_EXHAUSTED', 'details': [{'@type': 'type.googleapis.com/google.rpc.QuotaFailure', 'violations': [{'quotaMetric': 'generativelanguage.googleapis.com/generate_content_free_tier_requests', 'quotaId': 'GenerateRequestsPerMinutePerProjectPerModel-FreeTier', 'quotaDimensions': {'model': 'gemini-2.5-flash', 'location': 'global'}, 'quotaValue': '10'}]}, {'@type': 'type.googleapis.com/google.rpc.Help', 'links': [{'description': 'Learn more about Gemini API quotas', 'url': 'https://ai.google.dev/gemini-api/docs/rate-limits'}]}, {'@type': 'type.googleapis.com/google.rpc.RetryInfo', 'retryDelay': '27s'}]}}. Returning 'Error'.
An unexpected error occurred for text: 'NYSC 2022: N33,000 - $75

NYSC 2025: N77,000 - $50

Dem reduce salary una Dey happy' - 429 RESOURCE_EXHAUSTED. {'error': {'code': 429, 'message': 'You exceeded your current quota, please check your plan and billing details. For more information on this error, head to: https://ai.google.dev/gemini-api/docs/rate-limits.', 'status': 'RESOURCE_EXHAUSTED', 'details': [{'@type': 'type.googleapis.com/google.rpc.QuotaFailure', 'violations': [{'quotaMetric': 'generativelanguage.googleapis.com/generate_content_free_tier_requests', 'quotaId': 'GenerateRequestsPerMinutePerProjectPerModel-FreeTier', 'quotaDimensions': {'location': 'global', 'model': 'gemini-2.5-flash'}, 'quotaValue': '10'}]}, {'@type': 'type.googleapis.com/google.rpc.Help', 'links': [{'description': 'Learn more about Gemini API quotas', 'url': 'https://ai.google.dev/gemini-api/docs/rate-limits'}]}, {'@type': 'type.googleapis.com/google.rpc.RetryInfo', 'retryDelay': '27s'}]}}. Returning 'Error'.
An unexpected error occurred for text: 'Scrap NYSC now.' - 429 RESOURCE_EXHAUSTED. {'error': {'code': 429, 'message': 'You exceeded your current quota, please check your plan and billing details. For more information on this error, head to: https://ai.google.dev/gemini-api/docs/rate-limits.', 'status': 'RESOURCE_EXHAUSTED', 'details': [{'@type': 'type.googleapis.com/google.rpc.QuotaFailure', 'violations': [{'quotaMetric': 'generativelanguage.googleapis.com/generate_content_free_tier_requests', 'quotaId': 'GenerateRequestsPerMinutePerProjectPerModel-FreeTier', 'quotaDimensions': {'model': 'gemini-2.5-flash', 'location': 'global'}, 'quotaValue': '10'}]}, {'@type': 'type.googleapis.com/google.rpc.Help', 'links': [{'description': 'Learn more about Gemini API quotas', 'url': 'https://ai.google.dev/gemini-api/docs/rate-limits'}]}, {'@type': 'type.googleapis.com/google.rpc.RetryInfo', 'retryDelay': '26s'}]}}. Returning 'Error'.
Processed 16 texts, sleeping for 30 seconds to avoid quota issues.
Processed 24 texts, sleeping for 30 seconds to avoid quota issues.
Processed 32 texts, sleeping for 30 seconds to avoid quota issues.
An unexpected error occurred for text: 'Dear lord, please scrap Nysc.' - 429 RESOURCE_EXHAUSTED. {'error': {'code': 429, 'message': 'You exceeded your current quota, please check your plan and billing details. For more information on this error, head to: https://ai.google.dev/gemini-api/docs/rate-limits.', 'status': 'RESOURCE_EXHAUSTED', 'details': [{'@type': 'type.googleapis.com/google.rpc.QuotaFailure', 'violations': [{'quotaMetric': 'generativelanguage.googleapis.com/generate_content_free_tier_requests', 'quotaId': 'GenerateRequestsPerMinutePerProjectPerModel-FreeTier', 'quotaDimensions': {'model': 'gemini-2.5-flash', 'location': 'global'}, 'quotaValue': '10'}]}, {'@type': 'type.googleapis.com/google.rpc.Help', 'links': [{'description': 'Learn more about Gemini API quotas', 'url': 'https://ai.google.dev/gemini-api/docs/rate-limits'}]}, {'@type': 'type.googleapis.com/google.rpc.RetryInfo', 'retryDelay': '28s'}]}}. Returning 'Error'.
An unexpected error occurred for text: 'Ngl the government should just scrap this shit program called @officialnyscng. Asuu will delay you, now nysc is a problem, 7 months stalled and waiting!

Scrap this shit, we are not even interested or make it optional.' - 429 RESOURCE_EXHAUSTED. {'error': {'code': 429, 'message': 'You exceeded your current quota, please check your plan and billing details. For more information on this error, head to: https://ai.google.dev/gemini-api/docs/rate-limits.', 'status': 'RESOURCE_EXHAUSTED', 'details': [{'@type': 'type.googleapis.com/google.rpc.QuotaFailure', 'violations': [{'quotaMetric': 'generativelanguage.googleapis.com/generate_content_free_tier_requests', 'quotaId': 'GenerateRequestsPerMinutePerProjectPerModel-FreeTier', 'quotaDimensions': {'location': 'global', 'model': 'gemini-2.5-flash'}, 'quotaValue': '10'}]}, {'@type': 'type.googleapis.com/google.rpc.Help', 'links': [{'description': 'Learn more about Gemini API quotas', 'url': 'https://ai.google.dev/gemini-api/docs/rate-limits'}]}, {'@type': 'type.googleapis.com/google.rpc.RetryInfo', 'retryDelay': '27s'}]}}. Returning 'Error'.
An unexpected error occurred for text: 'Is this how I'll keep dodging NYSC year after year after year? I can't misuse an entire year of my precious life. Scrap the damn scheme already.' - 429 RESOURCE_EXHAUSTED. {'error': {'code': 429, 'message': 'You exceeded your current quota, please check your plan and billing details. For more information on this error, head to: https://ai.google.dev/gemini-api/docs/rate-limits.', 'status': 'RESOURCE_EXHAUSTED', 'details': [{'@type': 'type.googleapis.com/google.rpc.QuotaFailure', 'violations': [{'quotaMetric': 'generativelanguage.googleapis.com/generate_content_free_tier_requests', 'quotaId': 'GenerateRequestsPerMinutePerProjectPerModel-FreeTier', 'quotaDimensions': {'location': 'global', 'model': 'gemini-2.5-flash'}, 'quotaValue': '10'}]}, {'@type': 'type.googleapis.com/google.rpc.Help', 'links': [{'description': 'Learn more about Gemini API quotas', 'url': 'https://ai.google.dev/gemini-api/docs/rate-limits'}]}, {'@type': 'type.googleapis.com/google.rpc.RetryInfo', 'retryDelay': '27s'}]}}. Returning 'Error'.
An unexpected error occurred for text: 'Having to shower in the stupid ass cold butt naked because the toilets were so fucked up. You feel dirtier coming out than you did going in.

I believe NYSC should be scrapped. It serves absolutely no purpose. https://t.co/tMeA1wGeJI' - 429 RESOURCE_EXHAUSTED. {'error': {'code': 429, 'message': 'You exceeded your current quota, please check your plan and billing details. For more information on this error, head to: https://ai.google.dev/gemini-api/docs/rate-limits.', 'status': 'RESOURCE_EXHAUSTED', 'details': [{'@type': 'type.googleapis.com/google.rpc.QuotaFailure', 'violations': [{'quotaMetric': 'generativelanguage.googleapis.com/generate_content_free_tier_requests', 'quotaId': 'GenerateRequestsPerMinutePerProjectPerModel-FreeTier', 'quotaDimensions': {'location': 'global', 'model': 'gemini-2.5-flash'}, 'quotaValue': '10'}]}, {'@type': 'type.googleapis.com/google.rpc.Help', 'links': [{'description': 'Learn more about Gemini API quotas', 'url': 'https://ai.google.dev/gemini-api/docs/rate-limits'}]}, {'@type': 'type.googleapis.com/google.rpc.RetryInfo', 'retryDelay': '27s'}]}}. Returning 'Error'.
An unexpected error occurred for text: '@nysc360 Scrap this shit

I dont understand why someone will graduate since November register NYSC April and havent received a call up number over 8months now

You people think people dont have anything to do with their lives?

What sort of madness is this?' - 429 RESOURCE_EXHAUSTED. {'error': {'code': 429, 'message': 'You exceeded your current quota, please check your plan and billing details. For more information on this error, head to: https://ai.google.dev/gemini-api/docs/rate-limits.', 'status': 'RESOURCE_EXHAUSTED', 'details': [{'@type': 'type.googleapis.com/google.rpc.QuotaFailure', 'violations': [{'quotaMetric': 'generativelanguage.googleapis.com/generate_content_free_tier_requests', 'quotaId': 'GenerateRequestsPerMinutePerProjectPerModel-FreeTier', 'quotaDimensions': {'location': 'global', 'model': 'gemini-2.5-flash'}, 'quotaValue': '10'}]}, {'@type': 'type.googleapis.com/google.rpc.Help', 'links': [{'description': 'Learn more about Gemini API quotas', 'url': 'https://ai.google.dev/gemini-api/docs/rate-limits'}]}, {'@type': 'type.googleapis.com/google.rpc.RetryInfo', 'retryDelay': '27s'}]}}. Returning 'Error'.
An unexpected error occurred for text: '@ShehuSani Next would be to sew the uniforms with fng Os.

Scrap NYSC now.' - 429 RESOURCE_EXHAUSTED. {'error': {'code': 429, 'message': 'You exceeded your current quota, please check your plan and billing details. For more information on this error, head to: https://ai.google.dev/gemini-api/docs/rate-limits.', 'status': 'RESOURCE_EXHAUSTED', 'details': [{'@type': 'type.googleapis.com/google.rpc.QuotaFailure', 'violations': [{'quotaMetric': 'generativelanguage.googleapis.com/generate_content_free_tier_requests', 'quotaId': 'GenerateRequestsPerMinutePerProjectPerModel-FreeTier', 'quotaDimensions': {'location': 'global', 'model': 'gemini-2.5-flash'}, 'quotaValue': '10'}]}, {'@type': 'type.googleapis.com/google.rpc.Help', 'links': [{'description': 'Learn more about Gemini API quotas', 'url': 'https://ai.google.dev/gemini-api/docs/rate-limits'}]}, {'@type': 'type.googleapis.com/google.rpc.RetryInfo', 'retryDelay': '27s'}]}}. Returning 'Error'.
Processed 40 texts, sleeping for 30 seconds to avoid quota issues.
Processed 48 texts, sleeping for 30 seconds to avoid quota issues.
Processed 56 texts, sleeping for 30 seconds to avoid quota issues.
Processed 64 texts, sleeping for 30 seconds to avoid quota issues.
Processed 72 texts, sleeping for 30 seconds to avoid quota issues.
An unexpected error occurred for text: 'If you know the cost of running the NYSC programme and paying corper allowances is such a burden, just scrap the whole thing at once.
No point postponing streams and delaying call-ups, you're stealing years of the youth @officialnyscng' - 429 RESOURCE_EXHAUSTED. {'error': {'code': 429, 'message': 'You exceeded your current quota, please check your plan and billing details. For more information on this error, head to: https://ai.google.dev/gemini-api/docs/rate-limits.', 'status': 'RESOURCE_EXHAUSTED', 'details': [{'@type': 'type.googleapis.com/google.rpc.QuotaFailure', 'violations': [{'quotaMetric': 'generativelanguage.googleapis.com/generate_content_free_tier_requests', 'quotaId': 'GenerateRequestsPerMinutePerProjectPerModel-FreeTier', 'quotaDimensions': {'location': 'global', 'model': 'gemini-2.5-flash'}, 'quotaValue': '10'}]}, {'@type': 'type.googleapis.com/google.rpc.Help', 'links': [{'description': 'Learn more about Gemini API quotas', 'url': 'https://ai.google.dev/gemini-api/docs/rate-limits'}]}, {'@type': 'type.googleapis.com/google.rpc.RetryInfo', 'retryDelay': '26s'}]}}. Returning 'Error'.
An unexpected error occurred for text: 'Let Government scrap NYSC.
Everything in camp is so poor.
Very poor toilets, poor water supply, no light in the hostel, over congested hostels.
Imagine a soldier telling a doctor to lie flat on the floor.
Whats the benefit of this scheme?
Scrap NYSC

Repost n I will post more' - 429 RESOURCE_EXHAUSTED. {'error': {'code': 429, 'message': 'You exceeded your current quota, please check your plan and billing details. For more information on this error, head to: https://ai.google.dev/gemini-api/docs/rate-limits.', 'status': 'RESOURCE_EXHAUSTED', 'details': [{'@type': 'type.googleapis.com/google.rpc.QuotaFailure', 'violations': [{'quotaMetric': 'generativelanguage.googleapis.com/generate_content_free_tier_requests', 'quotaId': 'GenerateRequestsPerMinutePerProjectPerModel-FreeTier', 'quotaDimensions': {'model': 'gemini-2.5-flash', 'location': 'global'}, 'quotaValue': '10'}]}, {'@type': 'type.googleapis.com/google.rpc.Help', 'links': [{'description': 'Learn more about Gemini API quotas', 'url': 'https://ai.google.dev/gemini-api/docs/rate-limits'}]}, {'@type': 'type.googleapis.com/google.rpc.RetryInfo', 'retryDelay': '26s'}]}}. Returning 'Error'.
Processed 80 texts, sleeping for 30 seconds to avoid quota issues.
Processed 88 texts, sleeping for 30 seconds to avoid quota issues.